body{
    margin: 0;
}


.full{
    width: 100%;
    float: left;
}

.ad_left{
    float: left;
    width: 15%;
    height: 722px;
    background-color:#5e5e5e;
}

.title_ad_left{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.5vw;
    text-align: center;
    color: #dfdfdf;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'Playfair Display', serif;
}

.dashboarid{
    width: 100%;
    min-height:300px ;
}

.title_db{
    width: 95%;
    height: 10%;
    line-height: 40px;
    margin-left: 5%;
    font-family: 'Goldman', cursive;
    letter-spacing: 3px;
}

.content_db{
    width: 85%;
    min-height: 260px;
    margin-left: 10%;
}

.content_db ul{
    height: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.content_db ul li{
    line-height: 60px;
}

.content_db ul li a{
    color:#8e8e8e;
    text-decoration: none;
    padding-left: 10%;
    font-size: 22px;
    display: block;
    width: 90%;
    transition:all 0.5s;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 2px;
  }

  .content_db ul li a:hover{
      transform: translateY(-10px);
  }


  .content_db ul .feat-show a{
    font-size: 14px;
 }

 .content_db ul .feat-show a i{
     margin-right: 5px;
 }

 .content_db ul .serv-show a{
    font-size: 14px;
 }

 .content_db ul .serv-show a i{
     margin-right: 5px;
 }

 * i{
     color: #b3906a;
 }


.feat-show{
    display: none;
}

.serv-show{
    display: none;
}

.content_db ul li.active a{
    color:  white;
    font-weight: bold;
}

.content_db ul .feat-show.show{
    display: block;
  }
  .content_db ul .serv-show.show1{
    display: block;
  }


  /* ad_right */

    .ad_right{
        width: 85%;
        min-height: 722px;
        float: left;
        background-color: #f8f8f8;
    }

    .top_ad_right{
        width: 100%;
        height: 60px;
        box-shadow:0 5px 50px rgba(0, 0, 0, 0.43);
        background-color: white;
    }

    /* box_statis */

        .box_statis{
            width: 95%;
            height: 420px;
            margin: 50px auto;
        }

        .box_statis_left{
            width: 62%;
            height: 100%;
            float: left;
            margin-right: 3%;
        }

        .box_statis_left .box_statis_top{
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }

        .box_statis_left .box_statis_top .box_statis1{
            float: left;
            width: 49%;
            height: 100%;
            background-color:white;
            margin-right: 2%;
        }

        .box_statis_left .box_statis_top .box_statis2{
            float: left;
            width: 49%;
            height: 100%;
            background-color:white;
        }

        .box_statis_left .box_statis_bot{
            width: 100%;
            height: 200px;
            background-color: white;
        }

        .box_statis_right{
            width: 35%;
            height: 100%;
            float: left;
            background-color: white;
        }

        .box_sd{
            box-shadow:  0 7px 29px rgba(0, 0, 0, 0.43);

        }

    /* end box_statis */

  /* end ad_right */
//Phần TA

.boxright{
    float: right;
    width: 80%;
    height: 1500px;
    background-color: aqua;
}
/*Phan cua cong*/
.cong{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}
/*Phan cua Ty*/
h1{
    text-align: center;
}
.add_place{
    width: 30px;
    border: 0;
    /* background: none; */
    /* display: block; */
    margin: 20px auto;
   /*  text-align: center; */
    border: 2px solid #216477;
    padding: 15px 40px;
    outline: none;
    color: black;
    border-radius: 20px;
    /* transition: 0.5s; */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    
}
.ml20{
    margin-left: 20px;
}
.box_place1{
    margin-top: 40px;
    float: left;
    width: 23%;
    min-height: 400px;
    background-color: black;
    margin-right: 15px;
}
.box_place2{
    margin-top: 40px;
    float: left;
    width: 23%;
    min-height: 400px;
    background-color: black;
    margin-right: 15px;
}
.box_place3{
    margin-top: 40px;
    margin-right: 15px;
    float: left;
    width: 23%;
    min-height: 400px;
    background-color: black;
}
.box_place4{
    margin-right: 15px;
    margin-top: 40px;
    float: left;
    width: 23%;
    min-height: 400px;
    background-color: black;
}
.box_count_review{
    float: left;
    width: 35%;
    height: 200px;
    background-color: bisque;
    margin-right: 10px;
    margin-left: 20px;
}
.box_count_view_review{
    margin-right: 10px;
    float: left;
    width: 35%;
    height: 200px;
    background-color: bisque;
}
.rank_review{
    float: left;
    width: 25%;
    height: 200px;
    background-color: bisque;
}
.box_review{
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 40px;
    float: left;
    width: 22%;
    min-height: 400px;
    background-color: black;
}
//END TA


//Kim Ngan
body {
    margin: 0;
    background-color: #CCC;
}

.menu {
    float: left;
    width: calc(20% - 20px);
    height: 750px;
    margin-right: 20px;
    background-color: #777;
}

.boxright {
    float: right;
    width: 80%;
    height: 750px;
}

.boxadd {
    width: 50%;
    height: 50px;
}

input {
    width: 15%;
    height: 30px;
    font-weight: bold;
    background-color: white;
    border: 2px black solid;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 24pt;
    line-height: 35px;
}

.boxtip {
    width: calc(100% - 20px);
    height: 300px;
    padding-right: 20px;
}

.box_count_tip {
    float: left;
    width: calc(40% - 20px);
    height: 250px;
    background-color: #333;
    margin-right: 20px;
}

.box_count_view_tip {
    float: left;
    width: calc(40% - 20px);
    height: 250px;
    background-color: #333;
    margin-right: 20px;
}

.rank_tip {
    float: right;
    width: 20%;
    height: 250px;
    background-color: #333;
}

.tip {
    float: left;
    width: calc(80% - 20px);
    height: 300px;
}

.box_tip {
    float: left;
    width: calc(25% - 20px);
    height: 350px;
    background-color: rgb(43, 43, 82);
    margin: 10px;
}

a {
    color: white;
    font-size: 18pt;
}

input:hover {
    color: white;
    background: black;
    transition: 0.2s;
    border: 2px white solid;
}
//END KN
